:root {
    --font-family: Arial, sans-serif;
    --base-padding: 1vw;
    --default-radius: 0.5vw;
    --bigger-radius: 1vw;
    --transition-duration: 0.3s;
    --grid-gap: 1vw;
    --main-aspect-ratio: 4 / 1;
    --secondary-aspect-ratio: 4 / 1.5;
    --vignette-color-start: rgba(0, 0, 0, 0.1);
    --vignette-color-end: rgba(0, 0, 0, 0.3);
    --footer-bg-color: #333;
    --footer-text-color: #fff;
    --footer-padding: 0.5vw;
    --text-color: white;
    --text-shadow: 1px 1px 5px rgb(0, 0, 0);
    --text-shadow-inverse: 1px 1px 5px rgb(255, 255, 255);

}
.debug {
    border: 3px solid red;
}

* {
    transition-duration: 250ms;
    scroll-behavior: smooth !important;
}

body {
    margin: var(--base-padding);
    padding: var(--base-padding);
    font-family: var(--font-family);
    background-color: #000000;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (orientation: portrait) {
    [type="desktop"] {
        display: none !important;
    }
} @media screen and (orientation: landscape) {
    [type="mobile"] {
        display: none !important;
    }
}


a {
    text-decoration: none;
    color: var(--text-color); 
}
.emoji {
    height: 1.5rem;
    vertical-align:text-top;
}