.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: calc(var(--base-padding) * 2);
}

.preview-image {
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: var(--bigger-radius);
}

.preview-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--bigger-radius);
}

#previewImageThumb:hover,
#previewImageBanner:hover {
    transform: scale(1.05);
}

#preview {
    padding: var(--base-padding);
}

.preview-text {
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
}

.preview-header {
    margin: 0;
    padding-bottom: 10px;
}

.preview-text p {
    margin: 0;
    font-size: 1.2rem;
}

.preview-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.preview-images-item {
    width: 20%;
    height: auto;
    margin: 5px;
    border-radius: calc(var(--base-padding) * 0.5);
}

.preview-images-item:hover {
    transform: scale(1.05);
    cursor: zoom-in;
}

.preview button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: var(--default-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration);
}

.preview button:hover {
    background-color: #555;
}

@media screen and (orientation: portrait) {
    .preview {
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center;
        margin-top: 100px;
    }

    .preview-image {
        width: 100%; /* Take full width on smaller screens */
        margin-bottom: 20px; /* Space between stacked items */
    }

    .preview-images-item {
        width: 23.9%;
    }
    .preview-images-item.preview-images-item-picker-banner {
        width: 32.2%;
    }

    .preview-text {
        width: 100%; /* Take full width on smaller screens */
    }
    .preview-header {
        font-size:3rem;
    }
    p.preview-text {
        font-size: 1.7rem;
    }

    button {
        width: 100%;
        font-size: 1.7rem !important;
    }

    #preview2 {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}
