.introduction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-bottom: calc(var(--base-padding)*2);
    box-sizing: border-box;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Optional: Add border radius */
}


.introduction-image {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden;
    border-radius: var(--bigger-radius); 
    margin-right: 20px; /* Optional: Add some spacing between image and text */
} .introduction-image:hover {
    transform: scale(1.05);
}

.introduction-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--bigger-radius); 
}

.introduction-text {
    flex: 1; /* Take remaining space */
    font-size: 1.2rem;
}
.introduction-text {
    margin: 0px 20px; /* Adjusted margin */
}

.introduction-header {
    margin: 0; /* Remove default margin */
    padding-bottom: 5px; /* Adjusted padding */
}

.introduction-text p {
    margin: 0; /* Remove default margin from paragraph */
}

.wave .emoji {
    display: inline-block;
    width: 1em; /* Adjust size as needed */
    height: 1em; /* Adjust size as needed */
    background-size: contain;
    background-repeat: no-repeat;
}

.wave img {
    animation: wave 2.5s ease-in-out 1;
}
.wave img:hover {
    animation: wave2 2.5s ease-in-out 1;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(15deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes wave2 {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(15deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}