:root {

    --font-family: Arial, sans-serif;
    --base-padding: 20px;
    --transition-duration: 0.3s;
    --grid-gap: 20px;
    --main-aspect-ratio: 4 / 1;
    --secondary-aspect-ratio: 4 / 1.5;
    --vignette-color-start: rgba(0, 0, 0, 0.1);
    --vignette-color-end: rgba(0, 0, 0, 0.3);
    --footer-bg-color: #333;
    --footer-text-color: #fff;
    --footer-padding: 10px;
    --text-color: white;
    --text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

}
.debug {
    border: 3px solid red;
}

* {
    transition-duration: 250ms;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (orientation: portrait) {
    [type="desktop"] {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    [type="mobile"] {
        display: none;
    }
}